dataweave/src/main/resources/schemas/employee.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="emp">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:short" name="empId"/>
        <xs:element type="xs:string" name="empName"/>
        <xs:element type="xs:byte" name="empAge"/>
        <xs:element type="xs:string" name="empStatus"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>